[access]
	inheritFrom = All-Projects
[project]
	description = Blockchain as a service.
[access "refs/*"]
	owner = group user/Sanket Patel (sanketjpatel)
[access "refs/for/refs/*"]
	read = group user/Sanket Patel (sanketjpatel)
	push = group user/Sanket Patel (sanketjpatel)
	label-Code-Review = -2..+2 group user/Sanket Patel (sanketjpatel)
	label-Verified = -1..+1 group user/Sanket Patel (sanketjpatel)
	rebase = group user/Sanket Patel (sanketjpatel)
	removeReviewer = group user/Sanket Patel (sanketjpatel)
	submit = group user/Sanket Patel (sanketjpatel)
[access "refs/heads/*"]
	read = group user/Sanket Patel (sanketjpatel)
	create = group user/Sanket Patel (sanketjpatel)
	push = +force group user/Sanket Patel (sanketjpatel)
	pushMerge = group user/Sanket Patel (sanketjpatel)
[access "refs/tags/*"]
	push = group user/Sanket Patel (sanketjpatel)
	push = +force group user/Sanket Patel (sanketjpatel)
