@import '../shared/scss/variables';

.add-asset-container {
  width: 40%;
  h1 {
    padding-bottom: 20px;
  }
  mat-form-field {
    width: 100%;
    padding: 20px;
  }
  //input {
  //  color: $font-white-color;
  //  outline: 0;
  //  background: #383737;
  //  width: 50%;
  //  border: solid $item-active 2px;
  //  margin: 0 0 15px;
  //  padding: 15px;
  //  box-sizing: border-box;
  //  font-size: 14px;
  //
  //  &:focus {
  //    border: solid white 2px;
  //  }
  //}
}
