<div class="add-asset-container">
  <h1>Add Asset</h1>
  <form class="add-asset-form">
    <mat-form-field>
      <input matInput placeholder="Asset Name">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Sensor Type">
        <mat-option *ngFor="let sensor of sensors" [value]="sensor.value">
          {{ sensor.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="form-field">
      <label>Sensor Maximum</label>
      <mat-slider min="30" max="100" value="60"></mat-slider>
    </div>

    <div class="form-field">
      <label>Sensor Minimum</label>
      <mat-slider min="30" max="100" value="60"></mat-slider>
    </div>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Due Date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br/>
    <div class="form-field">
      <button class="save-button" mat-button>Save</button>
      <button mat-button (click)="onBackClick()">Cancel</button>
    </div>
  </form>
</div>
