// ============================================
// App
// ============================================
$app-background: #282828;
// ============================================
// Left Panel Main
// ============================================
$left-panel-background-color: #383838;
$left-panel-header-color: #ffffff;
// ============================================
// Left Panel Item
// ============================================
$font-size-regular: 16pt;
$font-size-small: 10pt;
$location-temp-font-size: 14pt;
$location-tab-height: 70px;
$location-alert-width: 5px;
$font-bright-color: #f7f7f7;
$font-white-color: #ebebeb;
$background-color: #474747;
$item-hover: #656565;
$item-active: #858585;
$active-bg: #1585ce;
$active-hover: #1e90ff;
$alert-color: #fd5255;
$no-alert-color: #d7d7d7;
$dark-background: #292828;
// ============================================
//Left Panel Search Box
// ============================================
$left-pane-header-font-color: #fbfbfb;
$left-pane-header-bg: #000000;
// ============================================
//Left Panel Header
// ============================================
$suggestions-list-background: #5b5b5b;
// ============================================
// Unit Changer
// ============================================
$unit-changer-font-white-color: #fbfbfb;
$unit-changer-font-grey-color: #686868;
// ============================================
// Location Editor
// ============================================
$location-editor-font-white-color: #fbfbfb;
// ============================================
// Delete Location Dialog
// ============================================
$delete-dialog-input-bg: #000000;
$delete-dialog-input-color: #fbfbfb;
$delete-dialog-error-text: #fd5255;
$delete-dialog-delete-button-color: #7a7a7a;
// ============================================
// Edit Tabs Dialog
// ============================================
$edit-tabs-dialog-close: #929597;
// ============================================
// Edit Alerts
// ============================================
$reset-alerts-color: #c54749;
$inactive-button: #7a7a7a;
$edit-logs-link: #1673AF;
$slider-bg-color: #171717;
$slider-ticks-bg-color: #7b7b7b;
// ============================================
// Send Notifications Dialog
// ============================================
$delete-icon-color: #e34e51;
// ============================================
// Alerts View
// ============================================
$hide-events-color: #8b8b8b;
// ============================================
// Tab Item
// ============================================
$tab-item-bg-color: #383737;
// ============================================
// Event Logs
// ============================================
$event-logs-border-color: #756F6F;
$event-logs-bg-color: #303030;
