<div class="asset-list-container">
  <nav>
    <div class="row">
      <div class="col-md-8">
        <h1>
          Asset Tracker
        </h1>
      </div>
      <div class="col-md-3">
        <div class="add-new-asset-container">
          <h2 class="add-new-asset" (click)="onAddAsset()">
            <span class="fa fa-plus-circle"></span> Add New Asset
          </h2>
        </div>
      </div>
      <div class="col-md-1">
        <i class="fa fa-circle logo-icon"></i>
      </div>
    </div>
  </nav>

  <div class="asset-list-table">
    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Weight </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
