@import '../shared/scss/variables';

.asset-list-container {
  background-color: $dark-background;
  color: $font-white-color;
  height: 100%;

  .logo {
    width: 40px;
  }

  .add-new-asset {
    color: $active-bg;

    &:hover {
      color: $active-hover;
      cursor: pointer;
    }
  }
}
