<div class="asset-list-container">
  <nav>
    <div class="row">
      <div class="col-md-8">
        <h1>
          Asset Tracker
        </h1>
      </div>
      <div class="col-md-3">
        <div class="add-new-asset-container">
          <h1 class="add-new-asset">
            <span class="fa fa-plus-circle"></span>Add New Asset
          </h1>
        </div>
      </div>
      <div class="col-md-1">
        <i class="fa fa-circle logo-icon"></i>
      </div>
    </div>
  </nav>

  <div class="asset-list-table">
    <p>
      Assets list table
    </p>
  </div>
</div>