@import '../shared/scss/variables';

.asset-list-container {
  background-color: $dark-background;
  color: $font-white-color;
  height: 100%;

  .head-row{
    padding-bottom: 20px;
  }

  .block-visualizer {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
    float: right;
    padding: 20px;
    color: $font-white-color;
    &:hover {
      color: $font-bright-color;
    }
  }
  .logo {
    width: 40px;
    float: right;
    margin: -5px 0 0 10px;

  }

  .add-new-asset {
    color: $active-bg;
    font-size: 1.4rem;
    text-align: right;

    &:hover {
      color: $active-hover;
      cursor: pointer;
    }
  }
}
