.asset-details {
  .back-button {
    cursor: pointer;
  }
  .asset-stat {
    padding: 5px 0;
  }

  #chart {
    height: 400px;
    width: 100%;
  }

  #map {
    height: 400px;
    width: 100%;
  }
}
